body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.MainSection {
  background-color: #86BBD8;
  height: 100vh;
  left:0;
  top:0;
  bottom: auto;
  flex-direction: column;
}

.Bucket {
  background-color: grey;
  height; auto;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.Bucket {
  background-color: red;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: auto;
  align-items: flex-start;
}

.UploadBox {
  background-color: purple;
  display: flex;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 20vh;
  border-color: black;
}

.tabs {
  background-color: green;
  border-color: red;
  border-width: medium;
  border: 1;
  display: flex;
  margin: 10;
  height: auto;
  width: auto;
}

.tab {
  background-color: blue;
  border-color: red;
  display: flex;
  border-width: thick;
  border: 1;
}
